<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
</head>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(function(){
            $('.nav-wrap, .content').addClass('sub');
        });
    </script>
</th:block>


<body>
<div layout:fragment="content">
    <h2 class="content-title">게시판</h2>
    <a href="/writeForm" class="go-to-board1">글작성 ✏</a>


    <section class="product-container">
        <th:block th:each="board: ${boardlist}">
            <div class="product-item">
                <div class="product-inner">
                    <a th:href="'/board/' + ${board.id}" class="text-dark">
                        <div class="product-img-wrap">

                                <a th:href="@{/board/view(id=${board.id})}">
                                    <img th:if="${not #strings.isEmpty(board.imgUrl)}" th:src="${board.imgUrl}" height="400" alt="Image">
                                    <br/>
                                    <span th:text="${board.title}"></span>
                                </a>

                        </div>
                        <div class="product-exp">
                            <h5 class="product-title">[[${board.name}]]</h5>
                            <p class="product-text">[[${board.content}]]</p>
                            <h5 class="product-price">[[${#temporals.format(board.regTime, 'yyyy-MM-dd')}]]</h5>
                        </div>
                    </a>
                </div>
            </div>
        </th:block>
    </section>







</div>
<div class="footer" th:fragment="content">
</div>

</body>
</html>