<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
    <style>

    </style>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(function(){
            let mainItemSlide = new Swiper('.recomm-slide.swiper-container', {
                navigation: {
                    nextEl: '.recomm-slide .swiper-button-next',
                    prevEl: '.recomm-slide .swiper-button-prev',
                },
                slidesPerView: 4,
                spaceBetween: 30,
                //centeredSlides: true,
                loop: true,
                autoplayDisableOnInteraction: false,
            });

            let mainBoardSlide = new Swiper('.board-slide.swiper-container', {
                slidesPerView: 5,
                spaceBetween: 30,
                centeredSlides: true,
                loop: true,
                autoplayDisableOnInteraction: false,
            });
        })
    </script>
</th:block>

<div layout:fragment="content">
    <div class="main-banner">
        <div class="banner-wrap">
            <img th:src="@{/img/bg.jpg}" alt="">
            <div class="banner-text">
                <h2>What You Need</h2>
                <h2>당신이 원하는 헬스 용품의 모든 것</h2>
                <a th:href="@{/list}" class="banner-link">상품 보러가기</a>
            </div>
        </div>
    </div>

    <div class="page-container" th:style="'background-image: url(/img/bg4.jpg)'">
        <section class="product-list-wrap">
            <div class="list-box">
                <h2 class="list-title">추천 상품</h2>
                <div class="recomm-slide swiper-container">
                    <ul class="swiper-wrapper list">
                        <th:block th:each="item, status: ${items}">
                            <li class="swiper-slide list-item">
                                <a th:href="'/item/' + ${item.id}" class="text-dark">
                                    <div class="product-img-wrap">
                                        <img th:src="${item.imgUrl}" th:alt="${item.itemNm}" height="400" />
                                    </div>
                                    <div class="product-exp">
                                        <h5 class="product-title">[[${item.itemNm}]]</h5>
                                        <p class="product-text">[[${item.itemDetail}]]</p>
                                        <h5 class="product-price" data-th-text="${#numbers.formatInteger(item.price, 3, 'COMMA') + '원'}">[[${item.price}]]원</h5>
                                    </div>
                                </a>
                            </li>
                        </th:block>
                    </ul>
                    <div class="swiper-btn swiper-button-prev" th:style="'background-image: url(/img/slide-arrow.png)'"></div>
                    <div class="swiper-btn swiper-button-next" th:style="'background-image: url(/img/slide-arrow.png)'"></div>
                </div>
            </div>
        </section>

        <section class="feed-list-wrap">
            <div class="list-container">
                <h2 class="list-title">#오늘의 오운완</h2>
                <div class="board-slide swiper-container">
                    <ul class="swiper-wrapper list">
                        <li class="swiper-slide list-item">
                            <a href="/list" class="text-dark">
                                <div class="feed-img-wrap">
                                    <img th:src="@{/img/feed-img.jpg}">
                                </div>
                                <div class="feed-exp-wrap">
                                    <div class="exp-top">
                                        <span class="writer-name">채소소송송쏭</span>
                                        <span class="writer-reg-date">2023.09.05</span>
                                    </div>
                                    <div class="exp-cont">
                                        <p class="writer-content">오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~
                                            오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="swiper-slide list-item">
                            <a href="/list" class="text-dark">
                                <div class="feed-img-wrap">
                                    <img th:src="@{/img/feed-img.jpg}">
                                </div>
                                <div class="feed-exp-wrap">
                                    <div class="exp-top">
                                        <span class="writer-name">사이다숑</span>
                                        <span class="writer-reg-date">2023.09.05</span>
                                    </div>
                                    <div class="exp-cont">
                                        <p class="writer-content">오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~
                                            오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="swiper-slide list-item">
                            <a href="/list" class="text-dark">
                                <div class="feed-img-wrap">
                                    <img th:src="@{/img/feed-img.jpg}">
                                </div>
                                <div class="feed-exp-wrap">
                                    <div class="exp-top">
                                        <span class="writer-name">뇸뇸</span>
                                        <span class="writer-reg-date">2023.09.05</span>
                                    </div>
                                    <div class="exp-cont">
                                        <p class="writer-content">오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~
                                            오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="swiper-slide list-item">
                            <a href="/list" class="text-dark">
                                <div class="feed-img-wrap">
                                    <img th:src="@{/img/feed-img.jpg}">
                                </div>
                                <div class="feed-exp-wrap">
                                    <div class="exp-top">
                                        <span class="writer-name">냠냠</span>
                                        <span class="writer-reg-date">2023.09.05</span>
                                    </div>
                                    <div class="exp-cont">
                                        <p class="writer-content">오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~
                                            오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="swiper-slide list-item">
                            <a href="/list" class="text-dark">
                                <div class="feed-img-wrap">
                                    <img th:src="@{/img/feed-img.jpg}">
                                </div>
                                <div class="feed-exp-wrap">
                                    <div class="exp-top">
                                        <span class="writer-name">듕듕</span>
                                        <span class="writer-reg-date">2023.09.05</span>
                                    </div>
                                    <div class="exp-cont">
                                        <p class="writer-content">오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~
                                            오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="swiper-slide list-item">
                            <a href="/list" class="text-dark">
                                <div class="feed-img-wrap">
                                    <img th:src="@{/img/feed-img.jpg}">
                                </div>
                                <div class="feed-exp-wrap">
                                    <div class="exp-top">
                                        <span class="writer-name">휘리릭</span>
                                        <span class="writer-reg-date">2023.09.05</span>
                                    </div>
                                    <div class="exp-cont">
                                        <p class="writer-content">오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~
                                            오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="swiper-slide list-item">
                            <a href="/list" class="text-dark">
                                <div class="feed-img-wrap">
                                    <img th:src="@{/img/feed-img.jpg}">
                                </div>
                                <div class="feed-exp-wrap">
                                    <div class="exp-top">
                                        <span class="writer-name">비건쓰</span>
                                        <span class="writer-reg-date">2023.09.05</span>
                                    </div>
                                    <div class="exp-cont">
                                        <p class="writer-content">오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~
                                            오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~ 오늘은 여유로움을 느끼며 명상과 함께 요가를~</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <a href="/list" class="go-to-board">지금 바로 쓰러가야지! 🏃‍♂️</a>
            </div>
        </section>
    </div>
</div>

</html>